/* CSS Reset*/
*{
    margin: 0;
    padding: 0;
}

/* CSS Variables */
:root{
    --navbar-height: 59px;
}

/* Navigation Bar */
#navbar{
    display: flex;
    align-items: center;

 }
/* NAvigation Bar: Logo and Image */
#logo{
    margin:3px 6px;
}
#logo img{
    height:140px; 
    margin:3px 6px;
}
/* NAvigation Bar: List Styling */
#navbar{
    position: relative;
}
#navbar ul{
    display: flex;
} 
#navbar::before{
    content: "";
    background-color: black;
    position:absolute;
    height: 100%;
    width:100%;
    z-index:-1;
    opacity:0.4;
}

#navbar ul li{
    /* color: white; */
    list-style: none;
    font-size: 1.3rem;
}
#navbar ul li a{
    color: white;
    display: block;
    padding:3px 22px;
    border-radius: 20px;
    text-decoration: none;
}
#navbar ul li a:hover{
    color: black;
    background-color: white;
}
/* Home Section */
#home{
    display:flex;
    flex-direction: column;
    padding:3px 200px;
    height: 400px;
    justify-content:center;
    align-items: center;
}
#home::before{
    content: "";
    background: url('../1268519.webp') no-repeat center center/cover;
    position:absolute;
    height: 100%;
    width:100%;
    z-index:-1;
    opacity:0.89;
    
}

#home h1{
    color: white;
    text-align:center;
}

#home p{
    color: white;
    text-align:center;
    font-size: 1.5rem
}
/* Utility class */
.h-primary{
    font: 3.8rem;
    padding:12px;

}
.h-secondary{
    font: 2.8rem;
    padding:12px;

}
.btn{
    padding:6px 10px;
    border: 2px solid white;
    background-color: brown;
    color: white;
    margin: 17px;
    font-size: 1.5rem;
    border-radius:10px;
    cursor: pointer;
}

.center{
    text-align: center;
}
/* Services Section */
#services{
    margin: 50px;
    display: flex;

}
#services .box{
    border: 4px solid brown;

}

#services .box img{
    height: 100px;
}